<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <div th:fragment="navbar">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Bank</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/clientList">Home</a></li>
                            <li><a href="/accountList">Accounts</a></li>
                            <li><a href="/txList">Transactions</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#logIn">Log In</a></li>
                            <li><a href="#singUp">Sign Up</a></li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>

    </body>
</html>